<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>logging.log.%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>31</MaxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} -%msg%n
            </Pattern>
		</layout>
	</appender>
	<root level="DEBUG">
        <appender-ref ref="FILE"/>
    </root>
</configuration>